<h1>Random beer</h1>


<div class="cards">
  <div class="card">
    <img src="{{beer.image_url}}" />
    <h2>{{beer.name}}</h2>
    <h3>{{beer.tagline}}</h3>
    <p>{{beer.description}}</p>
  </div>
</div>